<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6I-kSmKzdFI8KRzQvNq_DlYnMiCVECoc</string>
	<key>GCM_SENDER_ID</key>
	<string>845357889622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.com.easyInv</string>
	<key>PROJECT_ID</key>
	<string>inventorycontrol-d1645</string>
	<key>STORAGE_BUCKET</key>
	<string>inventorycontrol-d1645.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845357889622:ios:4d7272b23cf8b53eb9e3f7</string>
</dict>
</plist>